.black {
    background-color: var(--simple-bg) !important;
    color: var(--simple-color) !important;
}
.black > header {
    background-color: var(--simple-header-bg-color) !important;
    color: var(--simple-header-color) !important;

    border-bottom: solid 4px var(--border-color);
    box-shadow: 4px 2px 4px var(--border-shadow-color);
}
.black > header a {
    color: var(--header-color);
}
.black > .menu {
    background-color: var(--simple-header-bg-color) !important;
    color: var(--simple-header-color) !important;
    border-right: solid 4px var(--border-color);
    box-shadow: 2px 4px 4px var(--border-shadow-color);
}
.black > .menu a {
    color: var(--simple-header-color) !important;
}
.black > .content {
    background-color: var(--simple-bg) !important;
    color: var(--simple-color) !important;
}